## Concat and Append

In [1]:
import pandas as pd
import numpy as np

def make_df(cols, ind):
    ###Quickly make a DataFrame###
    data = {c: [str(c) + str(i) for i in ind]
           for c in cols}
    return pd.DataFrame(data, ind)

In [4]:
make_df('ABC', range(3))

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2

In [7]:
# concat with numpy
np.concatenate([[1, 2], [2, 3]])

array([1, 2, 2, 3])

In [8]:
# concat a DataFrame with pandas
df1 = make_df('AB', [1, 2])
df2 = make_df('AB', [3, 4])
pd.concat([df1, df2])

    A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4

In [15]:
# concat with the column as axis
pd.concat([df1, df2], axis='col')

ValueError: No axis named col for object type <class 'pandas.core.frame.DataFrame'>