In [1]:
import pandas as pd
import numpy as np

# Series is like an np.array, except the index is explicitly defined
data = pd.Series([1, 3, 555.5])
data

0      1.0
1      3.0
2    555.5
dtype: float64

In [2]:
data.index

RangeIndex(start=0, stop=3, step=1)

In [3]:
# Series also acts like a dictionary
population_dict = {'California': 111111, 'Texas': 22222, 'Florida': 33333, 'Oregon': 88888} 
population = pd.Series(population_dict)
population['Texas']

22222

In [4]:
# and supports array-like operations, e.g. slicing:
population['California':'Florida']

California    111111
Florida        33333
dtype: int64

In [5]:
# defining indices 
pd.Series(99, ['Alice', 'Bob', 'Charlie'])

Alice      99
Bob        99
Charlie    99
dtype: int64

In [7]:
area_dict = {'California': 1, 'Texas': 2, 'Florida': 3, 'Oregon': 8, 'Montana': 0} 
area = pd.Series(area_dict)

# DataFrame looks like a sequence of Series objects that share the same index
states = pd.DataFrame({'population': population, 'area': area})

In [8]:
states

            area  population
California     1    111111.0
Florida        3     33333.0
Montana        0         NaN
Oregon         8     88888.0
Texas          2     22222.0

In [9]:
states.index

Index(['California', 'Florida', 'Montana', 'Oregon', 'Texas'], dtype='object')

In [10]:
states.columns

Index(['area', 'population'], dtype='object')

In [11]:
# constructing a DataFrame from a list of dicts

data = [{'a': i, 'b': 2 * i} for i in range(3)]
data
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [13]:
# from a two-d array
pd.DataFrame(np.random.rand(3, 2), 
            columns=['foo', 'bar'],
            index=['a', 'b', 'c'])

        foo       bar
a  0.745766  0.027780
b  0.981457  0.509318
c  0.285968  0.589973

In [15]:
# let's investigate the pandas Index object
ind = pd.Index([2, 3, 5, 6])
ind

Int64Index([2, 3, 5, 6], dtype='int64')

In [23]:
# it works like an array
ind[::-1]

Int64Index([6, 5, 3, 2], dtype='int64')

In [25]:
# but it is immutable, so this gives an error
# ind[1] = 99